<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :order_name, size: 40 %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address, id: :order_address, rows: 3, cols: 4%>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email , id: :order_email, size: 40%>
  </div>

  <div class="field">
    <%= form.label :ship_data %>
    <%= form.date_field :ship_data, id: :order_ship_data, size: 40 %>
  </div>

  <div id="pay-type-component"></div>

  <div class="actions">
    <%= form.submit 'Place Order' %>
  </div>
<% end %>
