<article>
  <% if notice %>
    <aside id="notice"><%= notice %></aside>
  <% end %>
  <h2>Your Cart</h2>
  <table>
     <%= render(card.line_items) %>
    <tfoot>
    <tr>
      <th colspan="2">Total:</th>
      <td class="price"><%= number_to_currency(card.total_price) %></td>
    </tr>
    </tfoot>
  </table>
  <div class="actions">
    <%= button_to 'Empty cart', card,
                  method: :delete,
                  data: { confirm: 'Are you sure?' }, remote: true %>
    <%= button_to 'Checkout',  new_order_path,
                  method: :get,
                  class: "checkout" if @order.nil?%>
  </div>
</article>