<% if line_item == @current_item %>
  <tr class="line-item-highlight">
 <% else %>
    <tr>
<% end %>
    <td class="quantity"><%= line_item.quantity %></td>
    <td><%= line_item.product.title %></td>
    <td class="price"><%= number_to_currency(line_item.total_price) %></td>
    <td><%= button_to 'Delete Product',  line_item_path(line_item), method: :delete, data: {confirm: 'Are you sure?'}, remote: true%></td>
  </tr>